/* https://color.adobe.com/cloud/aHR0cHM6Ly9jYy1hcGktYXNzZXRzLmFkb2JlLmlv/library/56b97d61-b491-42b1-8596-44bfb7118a34/theme/679c473e-1518-4fcd-8da9-b33f0f354653/edit/ */

/* Utilities */
a{
    color: white !important; 
}

li{
    line-height: 20px;
}
.pd-tp-md{
    padding-top: 20px;
}

.pd-tp-lg{
    padding-top: 50px;    
}

audio{
    color: black;
}


body{
    background-color: black;
    padding: 0;
    margin: 0;
    color: white !important; 

}

#banner-container{
}


#header{
    min-height: 200px;

}

#main-banner{
    margin: auto;
    width: 100%;
}

.section-title{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#about{

}

.home-content{
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;
}


.audio-title{
    color: white;
    text-transform: uppercase;
    border-bottom: solid 1px orange;
    text-align: left!important;
}


.player-container{
    margin-top: 30px;
    margin-bottom: 5px;
    border: solid 1px orange;
    padding: 5px;
    transition: all .5s;

}

.cast-player{
    margin-top: 20px;
    margin-bottom: 20px;
}

.artist-section{
    overflow: hidden;
    height: 300px;
    margin-left: -15px;
    font-size: 10px;
    overflow: scroll;
}

.player-section{
    margin: auto;
}

.player-container:hover{
    -webkit-box-shadow: -21px -10px 40px -3px rgba(65,207,33,1);
-moz-box-shadow: -21px -10px 40px -3px rgba(65,207,33,1);
box-shadow: -21px -10px 40px -3px rgba(65,207,33,1);

}

.audio-player{
    width: 100%;
}

.audio-player a{
    color: blue;
}

.audio-title{
    text-align: center;
}

.audio-description{
    color: white;
}


